/* CSS Document */

body {
    margin: 0px;
    font-size: 12px;
    background-color: #4d4d4d;
    font-family: Arial, Helvetica, sans-serif;
    color: #4b4b4b;
}

ul, li, dd, dt, h1, h2, h3, h4, h5, p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;

}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #a0a0a0;

}

a:hover {
    text-decoration: underline;
    color: #a0a0a0;
}

img {
    border: 0px;
}

input, select, td {
    font-size: 12px;
}

#mainleft {
    float: left;
    width: 12px;
}

#mainright {
    float: left;
    width: 12px;
}

html>body #mainleft {
    background: url(../images/dypngleft.png);
}

* #mainleft {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled = true, sizingMethod = crop, src = "images/dypngleft.png");
}

html>body #mainright {
    background: url(../images/dypngright.png);
}

* #mainright {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled = true, sizingMethod = crop, src = "images/dypngright.png");

}

#maincontant {
    width: 980px;
    float: left;
    background-color: #f2f2f2;
    overflow: hidden;
}

#main {
    width: 1004px;
    margin: auto;
}

#contantCenter {
    width: 922px;
    margin: auto;
    position: relative
}

#nav, #navtitle {
    width: 922px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

#nav .img {
    float: left;
    display: block;
    margin-bottom: 5px;
}

#nav .topnav {
    float: left;
    margin-left: 477px;
    color: #4b4b4b;
    line-height: 150%;
    padding-top: 2px;
    display: inline
}

#nav .topnav span {
    display: block;
    margin-right: 22px;
    float: left;
    border-bottom: 2px solid #50bbf2;
}

#nav .topnav a {
    display: block;
    margin-right: 22px;
    float: left;
    border-bottom: 2px solid #f2f2f2;
    color: #4b4b4b;
}

#nav .topnav a:hover {
    border-bottom: 2px solid #50bbf2;
    text-decoration: none;
    color: #4b4b4b;
}

#navtitle {
    margin-top: 0px;
    background: url(../images/navbg.jpg) no-repeat;
    height: 50px;
    margin-bottom: 20px;
}

#navtitle .Rlogin {
    position: absolute;
    text-align: right;
    margin-left: 400px;
    width: 500px;
    color: #a0a0a0;
    padding-top: 17px;
}

#navtitle .Rlogin span {
    color: #7ecef4;

}

#navtitle .RloginL {
    position: absolute;
    text-align: right;
    margin-left: 400px;
    width: 500px;
    color: #b66b44;
    padding-top: 17px;
}

#navtitle .RloginL span {
    color: #b66b44;

}

#navtitle .RloginL a {
    color: #b66b44;
}

.searchtop {
    background: url(../images/searchbg.gif) no-repeat;
    width: 137px;
    height: 17px;
    position: absolute;
    padding-left: 28px;
    padding-top: 2px;
}

.searchtop input {
    width: 122px;
    border: 1px solid #ffffff;

    font-size: 9px;
    height: 11px;
    line-height: 120%;
    overflow: hidden;
    color: #9d9d9d;

}

.loginimg {
    margin-left: 29px;
    margin-top: 18px;
    margin-right: 18px;
    display: inline;
    float: left
}

.loginTnav {
    width: 134px;
    float: left;
    margin-top: 18px;
}

.loginTnav ul {
    margin-top: 10px;
}

.loginTnav p {
    margin-bottom: 19px;
}

.loginTnav li a {
    background: url(../images/loginout.gif) no-repeat left 6px;
    padding-left: 6px;
    color: #a0a0a0;
}

.loginTnav li a:hover {
    background: url(../images/loginover.gif) no-repeat left 6px;
    color: #50bbf2;
}

.loginTnav li a.none {
    background: none;
    padding-left: 6px;
    padding-right: 6px;
    color: #a0a0a0;
}

.loginTnav li a.none:hover {
    background: none;
    color: #50bbf2;
}

.left754 {
    left: 754px;
}

.left460 {
    left: 460px;
    top: 10px;
}

.left550 {
    left: 550px;
    top: 10px;
}

.conleft {
    width: 647px;
    float: left;
    margin-right: 7px;
    display: inline;
}

.conright {
    float: left;
    background-image: url(../images/login_02.gif);
    background-repeat: no-repeat;
    height: 238px;
    width: 343px;
}

.banner {
}

.ktop {
    background: url(../images/kcbg.gif) repeat-x;
    height: 36px;
    position: relative
}

.kbottom {
    background: url(../images/kbcbg.gif) repeat-x;
    height: 12px;
    position: relative
}

.Ititle {
    position: absolute;
    display: block;
    left: 27px;
}

.kcbg268 {
    background: url(../images/kcbg268.gif) repeat-y;
}

.w268 {
    width: 268px;
}

.h135 {
    height: 134px;
    padding-top: 1px;
}

.newh135 {
    height: 140px;
    padding-top: 1px;
}

.h542 {
    height: 542px;
    padding-top: 1px;
}

.w647 {
    width: 647px;
}

.kcbg647 {
    background: url(../images/kconbg.gif) repeat-y;
}

.marginL248 {
    left: 258px;
    position: absolute
}

.marginL637 {
    left: 637px;
    position: absolute
}

#login {
/** old data margin-top:30px;**/
    margin-top: 5px;
    padding-left: 55px;
    width: 250px;
    padding-top: 10px;
    line-height: 30px;
    background-repeat: no-repeat;

}

/** new add #login2 **/
#login2 {
    width: 30px;
    padding-top: 8px;
    padding-left: 295px;
}

#login li {
    float: left; /**height:22px;**/
    height: 30px; /** xuqiu new add **/
    padding-bottom: 5px
}

#login li .input {
    width: 146px; /**height:13px;**/
    height: 16px;
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /**background-color:#dcdcdc;**/
    background-color: #fff;
}

.loginout {
    padding-left: 30px;
    margin-bottom: -10px;
    padding-top: 10px;
}

.w46 {
    width: 46px;
}

.w185 {
    width: 185px;
}

.w232 {
    width: 232px;
    padding-top: 4px;
}

.w232 img {
    margin-right: 10px;
}

.txt_3fb1f2 {
    color: #3fb1f2;
}

.txt_3fb1f2 a {
    color: #3fb1f2;
}

.inforcenterLeft {
    margin-right: 30px;
    margin-top: 22px;
    margin-left: 27px;
    float: left;
    display: inline;
    width: 282px;
}

.newlist {
    float: left
}

.newlist img {
    display: block;
    margin-right: 15px;
    float: left;
}

.listcon {
    float: left;
}

.listcon h2 {
    color: #50bbf2;
    margin-bottom: 5px;
    font-size: 14px
}

.listcon h2 a {
    color: #50bbf2;
}

.listcon h2 span {
    display: block;
    position: absolute;
    margin-left: 480px;
    color: #a0a0a0;
    font-size: 12px;
}

.listcon h2 span.w705 {
    margin-left: 705px;
}

.listcon h2 span.w678 {
    margin-left: 678px;
}

.listcon p {
    color: #a0a0a0;
    line-height: 120%;
    margin-bottom: 5px;
}

.inforcenterRight {
    float: left;
    width: 282px;
    margin-top: 22px;
    color: #a0a0a0;
}

.inforcenterRight li {
    background: url(../images/icono1.gif) no-repeat left 3px;
    padding-left: 30px;
    line-height: 170%;
    margin-bottom: 24px;
}

.inforcenterRight li span a {
    color: #50bbf2;
}

.Idownload {
    width: 210px;
    margin: auto;
    margin-top: 22px;
    color: #a0a0a0;
}

.Idownload p.tb {
    margin-top: 14px;
    margin-bottom: 17px;
}

.Idownload .img {
    float: right;
    display: block;
}

.Idownload p {
    margin-bottom: 8px;
}

.Idownload .dword {
    width: 114px;
    float: left;
}

.Idownload .dword span {
    display: block;
    padding-top: 10px;
}

.Idownload a {
    color: #50bbf2;
}

.botmnav {
    background: url(../images/icla.gif) no-repeat;
    height: 180px;
    width: 922px;
    padding-top: 12px;
    margin-bottom: 40px;
}

.botmnav1 {
    margin-left: 34px;
    text-align: center;
    width: 166px;
    float: left;
    display: inline
}

.botmnav2 {
    margin-left: 55px;
    text-align: center;
    width: 166px;
    float: left;
}

.botmnav3 {
    margin-left: 65px;
    text-align: center;
    width: 166px;
    float: left;
}

.botmnav1 p, .botmnav2 p, .botmnav3 p, .botmnav4 p {
    margin-top: 10px;
}

.botmnav1 p a, .botmnav2 p a, .botmnav3 p a, .botmnav4 p a {
    color: #a0a0a0;
}

.padT20 {
    padding-bottom: 20px;
}

.line {
    border-bottom: 1px solid #d4d4d4;
    padding-top: 8px;
    margin-bottom: 17px;
    height: 1px;
    overflow: hidden;
    clear: both
}

.w218 {
    width: 218px;
}

/*   news  */

.newsleft {
    width: 186px;
    float: left;
    display: inline
}

.newsright {
    width: 726px;
    float: right;
    color: #a0a0a0
}

.newsright2 {
    width: 726px;
    display: inline;
    overflow: hidden;
    float: left;
    color: #a0a0a0;
}

.h922 {
    width: 922px;
    color: #a0a0a0
}

.download {
    width: 922px;

    color: #a0a0a0
}

.w706 {
    width: 726px;
}

.w166 {
    width: 186px;
}

.kcbg186 {
    background: url(../images/kconbg186.gif) repeat-y;
}

.kcbg726 {
    background: url(../images/kconbg726.gif) repeat-y;
    padding: 23px 36px 30px 30px;
}

.kcbg726N {
    background: url(../images/kconbg726.gif) repeat-y;
}

.kcbg922 {
    background: url(../images/kconbg922.gif) repeat-y;
    padding: 23px 36px 30px 30px;
}

.kcbg922INdex {
    background: url(../images/bigbg.jpg) no-repeat;
    padding: 23px 36px 30px 30px;
    height: 377px;
}

.marginL176 {
    left: 176px;
    position: absolute
}

.marginL716 {
    left: 716px;
    position: absolute
}

.marginL912 {
    left: 912px;
    position: absolute
}

.ejnav {

    padding-left: 38px;
    color: #50bbf2;
}

.ejnav li {
    height: 25px;
    padding-left: 13px;
    font-size: 14px;
}

.ejnav li.none {
    background: url(../images/arrow.gif) no-repeat left 2px;
}

.ejnav li a {
    color: #4b4b4b;
}

.w668 {
    width: 698px;
}

.w568 {
    width: 568px;
}

.w780 {
    width: 768px;
}

.w860 {
    width: 850px;
}

.newsline {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 20px;
    height: 19px;
    overflow: hidden;
    clear: both

}

/*  bbs */

.Pad {
    padding: 23px 36px 0px 30px;
}

.PadL {
    padding: 23px 36px 20px 30px;
}

.PadT {
    padding: 0px 36px 20px 30px;
}

.PadB {
    padding: 0px 36px 0px 30px;
}

.PadS {
    padding: 10px 36px 0px 30px;
}

.PadSB {
    padding: 0px 36px 0px 30px;
}

.bbslistT {
    background: #e8e8e8;
    height: 23px;
    line-height: 120%;
}

.bbslistT td {
    border-right: 1px solid #ffffff;
    padding-left: 12px;
}

.bbslistT td.none {
    border-right: none;
}

.bbslistT td.pad30 {
    padding-left: 30px
}

.bbslistL {
    height: 23px;
    line-height: 120%;
}

.bbslistL td {
    padding-left: 12px;
    padding-top: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #d4d4d4;
}

.bbslistL th {
    text-align: right;
    padding-right: 5px;
}

.bbslistL td a {
    color: #a0a0a0;
}

.bbslistL td a

;
hover {
    color: #50bbf2;
}

.bbslistL td.padn {
    padding-left: 0px;
}

.ApplistT {
    background: #e8e8e8;
    height: 23px;
    line-height: 120%;
}

.ApplistT td {
    border-right: 1px solid #ffffff;

}

.ApplistT td.none {
    border-right: none;
}

.ApplistT td.pad30 {
    padding-left: 30px
}

.applistLS {
    height: 23px;
    line-height: 120%;
}

.applistLS td {

    padding-bottom: 14px;
    border-bottom: 1px solid #d4d4d4;
}

.applistLS th {
    font-weight: normal;
    padding-right: 5px;
    text-align: left;
}

.applistL {
    height: 23px;
    line-height: 120%;
}

.applistL td {

    padding-top: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #d4d4d4;
}

.applistL th {
    font-weight: normal;
    padding-right: 5px;
    text-align: left;
}

.applistL th.f14 {
    font-size: 14px;
}

.applistL td a {
    color: #a0a0a0;
}

.applistL td a

;
hover {
    color: #50bbf2;
}

.applistL td.padn {
    padding-left: 0px;
}

#pages {
    height: 38px;
}

.pages span {
    color: #50bbf2;

}

.pages img {
    margin-right: 5px;
}

.pages .img {
    margin-left: 5px;
}

#pages .select {
    position: absolute;
    margin-left: 370px;
    text-align: right;
    width: 290px;
}

#pages .Dselect {
    position: absolute;
    margin-left: 565px;
    text-align: right;
    width: 290px;
}

#pages .Nselect {
    position: absolute;
    margin-left: 540px;
    text-align: right;
    width: 290px;
}

.position {
    position: relative;
}

.mail {
    text-align: right;
}

.mail a {
    color: #50bbf2;
    margin-left: 10px;
}

.myaccount {

}

.myaccount h2 {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 27px;
}

.myaccount h2 img {
    margin-right: 1px;
}

.myaccount p {
    color: #50bbf2;
    margin-bottom: 10px;
}

.txt_50bbf2 {
    color: #50bbf2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.myaccount li {
    float: left;
}

.myaccount li input {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    width: 235px;
    padding-left: 2px;
    padding-top: 2px;
    color: #9f9f9f;
    float: left
}

.myaccount li input.w240 {
    width: 237px;
    float: left;
    margin-right: 10px;
}

.myaccount li input.w40 {
    width: 40px;
    margin-right: 5px;
    float: left;
}

.myaccount li input.w195 {
    width: 186px;
    float: left;
}

.myaccount li select {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    width: 294px;
    color: #9f9f9f;
    float: left
}

.myaccount p.txt_b8b8b8 {
    color: #b8b8b8;
}

.myaccount li span {
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 3px;
}

.myaccount li.w112 {
    width: 112px;
    padding-top: 3px;
    height: 22px;
}

.myaccount li.w152 {
    width: 170px;
    padding-top: 3px;
    height: 22px;
}

.myaccount li.w490 {
    width: 470px;
    height: 25px;
}

.myaccount li.w530 {
    width: 530px;
    height: 25px;
}

.myaccount li.w580 {
    width: 560px;
    height: 25px;
}

.myaccount li.w593 {
    width: 563px;
    height: 25px;
}

.myaccount li.w600 {
    width: 600px;
    height: 25px;
}

.myaccount li.w90 {
    width: 90px;
    padding-top: 3px;
    height: 22px;
}

.myaccount li.padt25 {
    padding-top: 15px;
}

.myaccount li select.none {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    width: 80px;
    color: #9f9f9f;
    margin-left: 10px
}

.myaccount li textarea {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    width: 515px;
    height: 120px;
    color: #9f9f9f;
    font-size: 12px;

}

.myaccount li span {
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 3px;
    margin-left: 5px;
}

.myaccount li.w593 img {
    float: left;

    margin-left: 10px;
    margin-right: 5px;
}

.myaccount li.w490 img {
    float: left;

    margin-left: 10px;
    margin-right: 5px;
}

.w750 {
    width: 700px;
    height: 25px;
}

.myaccount li.w80 {
    width: 80px;
    padding-top: 3px;
    height: 22px;
}

.update {
    width: 660px;
}

.update p {
    color: #464646;
    font-size: 14px;
    padding-bottom: 15px;
}

.update p.txt666666 {
    color: #666666;

    font-size: 12px;
}

.update p.txt00bdf4 {
    color: #00bdf4;

    font-size: 12px;
}

.update p.txt00bdf4 span {
    color: #666666;
}

.update p.txt00bdf4 a {
    color: #00bdf4;
    text-decoration: underline
}

.update p.txt00bdf4T {
    color: #00bdf4;
    height: 25px;
    font-size: 12px;
    padding-top: 15px;
}

.update p span {
    color: #a0a0a0;
}

.update li {
    float: left;
}

.update li input {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /*background-color:#dcdcdc;*/
    width: 175px;
    padding-left: 2px;
    padding-top: 2px;
    color: #9f9f9f;
    float: left
}

.update li input.none {
    border: none;
    background-color: #ffffff;
    width: 20px;
    float: none

}

.update li select {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /*background-color:#dcdcdc;*/
    width: 180px;
    float: left;
    color: #9f9f9f;
}

.update li textarea {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /*background-color:#dcdcdc;*/
    width: 515px;
    height: 120px;
    color: #9f9f9f;
    font-size: 12px;

}

.update li span {
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 3px;
    margin-left: 5px;
}

/* ----------add by machao start----------- */
.update td {
    padding: 2px;
}

.update td input {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /*background-color:#dcdcdc;*/
    width: 175px;
    padding-left: 2px;
    padding-top: 2px;
    color: #9f9f9f;
    float: left
}

.update td input.none {
    border: none;
    background-color: #ffffff;
    width: 20px;
    float: none
}

.update td select {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /*background-color:#dcdcdc;*/
    width: 180px;
    float: left;
    color: #9f9f9f;
}

.update td textarea {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /*background-color:#dcdcdc;*/
    width: 515px;
    height: 120px;
    color: #9f9f9f;
    font-size: 12px;
}

.update td span {
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 3px;
    margin-left: 5px;
}

.update td.w110 {
    width: 110px;
    padding-top: 3px;
    height: 22px;
}

/* ----------add by machao end----------- */

.update li.w63 {
    width: 63px;
    padding-top: 3px;
    height: 22px;
}

.update li.w90 {
    width: 90px;
    padding-top: 3px;
    height: 22px;
}

.update li.w593 {
    width: 593px;
    height: 25px;
}

.update li.w570 {
    width: 570px;
    height: 25px;
}

.update li.w180 {
    width: 180px;
    padding-top: 3px;
    height: 22px;
}

.update li.w480 {
    width: 480px;
    height: 25px;
}

.update li.w593None {
    width: 593px;
    padding-bottom: 5px;

}

.update li.w593 img, .update li.w570 img, .update li.w480 img {
    float: left;
    display: block;
    margin-left: 10px;
    margin-right: 5px;
}

.update li.padt25 {
    padding-top: 25px;
}

.update li.w570 select.right {
    width: 100px;
    margin-left: 10px;
}

.myAppimg {
    float: left;
    margin-right: 20px;
    float: left;
}

.myApp {
}

.myApp h2 {
    border-bottom: 1px solid #f4f4f4;

}

.myApp h2.none {
    margin-bottom: 0px;
}

.myApp h2 img {
    margin-right: 1px;
}

.myApp h2 .searchN {
    margin-bottom: 15px;
}

.myAppcon {
    float: right;
    width: 550px;
}

.myAppcon p, .myAppcon h3 {
    margin-bottom: 14px;
    line-height: 170%;
}

.myAppcon h3 span {
    font-size: 14px;
}

.myAppcon p span {
    color: #50bbf2;
}

.myAppcon h3 span.sa {
    color: #50bbf2;
}

.myAppcon p img {
    margin-left: 10px;
}

.myAppcon h4 {
    font-size: 14px;
    padding-top: 16px;
    margin-bottom: 14px;
    position: relative
}

.myAppcon h4 span {
    position: absolute;
    width: 100%;
    display: block;
    text-align: right;
    font-size: 12px;

}

.myAppaccount {
    float: left;
    width: 87px;
}

.myAppaccount p, .myAppaccount h3 {
    margin-bottom: 5px;
    line-height: 170%;
}

.myAppaccount h3 span {
    font-size: 14px;
}

.myAppaccount p span {
    color: #50bbf2;
}

.myAppaccount p a {
    color: #50bbf2;
}

.myAppInlist {
    float: left;
    margin-right: 50px;
}

.myAppInlist img {
    margin-bottom: 8px;
}

.myAppInlist h3 {
    font-size: 14px;
    font-weight: bold;
}

.myAppInlist h3 span {
    font-size: 12px;
    font-weight: normal;
}

.myAppInlist p {
    color: #50bbf2;
}

.updateappbot {
    height: 25px;
    position: relative;
    font-size: 14px;
}

.updateappbot span {
    display: block;
    position: absolute;
    text-align: right;
    left: 575px;
    width: 100px;
    text-align: left;
}

.updateappbot span.up {
    display: block;
    position: absolute;
    text-align: right;
    left: 705px;
    width: 100px;
    text-align: left;
}

.myAppcon p a, .myAppcon h4 span a {
    color: #50bbf2;
}

.shareVideo {
    padding-left: 110px;
    padding-top: 60px;
    width: 640px;
}

.shareVideo p {
    margin-bottom: 20px;
}

.shareVideo p span {
    display: block;
    color: #50bbf2;
    font-size: 14px;
    padding-bottom: 10px;
}

.shareVideobg {
    background: url(../images/videobg.gif) no-repeat;
    width: 922px;
    height: 157px;
    position: absolute;
    margin-left: -31px;
}

.shareVideobgdiv {
    width: 650px;
    overflow: hidden;
    height: 83px;
    position: absolute;
    top: 32px;
    margin-left: 140px;
}

.shareVideobgdiv li {
    margin-right: 28px;
    float: left;
}

#imgleft {
    float: left;
    width: 28px;
    padding-left: 0px;
    margin-left: px;
    position: absolute;
    top: 49px;
    left: 76px;
}

.imgright {
    float: left;
    display: block;
    width: 28px;
    left: 820px;
    top: 49px;
    position: absolute
}

.h649 {
    height: 670px;
}

.txt_4d4d4d {

}

.txt_4d4d4d a {
    color: #4d4d4d;
}

.kong {
    height: 22px;
    clear: both;
}

#noneRight {
    margin-right: 0px;
}

.clear {
    clear: both;
}

#footer {
    height: 44px;
    color: #7d7c7c;
    margin-bottom: 100px;
}

.footercon {
    width: 980px;
    height: 35px;
    background-color: #f2f2f2;

    margin: auto
}

html>body #footer {
    background: url(../images/footerbg.png) no-repeat;
}

* #footer {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled = true, sizingMethod = crop, src = "images/footerbg.png");
    height: 44px;
}

#footer span {
    display: inline;
    float: left;
    margin-left: 40px;
}

#footer p {
    float: right;
    margin-right: 48px;
    display: inline
}

#footer p a {
    color: #7d7c7c;
    position: relative
}

.inforExf {

    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1px;

    color: #999999;
    margin-bottom: 20px;
}

.inforExf input {
    width: 70px;
}

.inforExf a {
    color: #ff9933;
    text-decoration: underline;
}

.inforExf p a:hover {
    text-decoration: none;
}

.h150 {
    height: 150px;
    overflow: auto;
    border: 1px solid #d3d3d3;
    padding: 20px;
}

.txt_center {
    text-align: center;
}

.pL {
    padding-bottom: 40px;
    margin-top: 20px;
}

.pL input, .pL textarea {
    width: 340px;
    height: 20px;
    border: 1px solid #999999;
    padding-left: 5px;
    margin-right: 10px;
}

.pL li {
    margin-bottom: 5px;
    padding-left: 20px;
}

.pL h2 {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    padding-left: 20px;
    font-size: 14px;
}

.pL li img {
    margin-right: 10px;
}

.pL textarea {
    height: 50px;
}

.backx {
    margin-left: 503px;
    position: absolute;
    color: #67c4f4;
}

.backx a {
    color: #67c4f4;
}

.changesImg {

    height: 300px;
}

.changesImg p {
    text-align: center;
}

.changesImg p.left {
    text-align: left;
    padding-left: 30px;
}

.changesImg p.top25 {
    margin-top: 25px;
    padding-top: 1px;

}

.changesImg p.top25 img {
    margin-right: 4px;
}

.changes li {
    float: left;
    width: 169px;
    height: 285px;
}

.upd {

    padding-bottom: 30px;
    color: #67c4f4;
    font-weight: bold
}

.nsale {
    position: absolute;
    margin-left: 280px;
}

.con {
    color: #bcbcbc;
}

.con input, .con select {
    width: 170px;
    border: 1px solid #bcbcbc;
    background-color: #dcdcdc;
    color: #a2a2a2;
}

.fabu {
    color: #bcbcbc;
}

.fabu input, .fabu textarea {
    width: 440px;
    border: 1px solid #bcbcbc;
    background-color: #dcdcdc;
    color: #a2a2a2;
}

.txt_ff6600 {
    color: #ff6600;
}

.txt_33aa44 {
    color: #33aa44;
}

.txt_333 {
    color: #333;
}

a.orange {
    color: #ff6600;
    text-decoration: underline;
}

a.orange:hover {
    color: #ff6600;
}

.ping1 {
    background: url(../images/ping01.gif) no-repeat;
    width: 106px;
    height: 22px;
    display: block;
    float: left;
    padding-top: 16px;
    text-align: center;
    margin-right: 1px;
}

.ping2 {
    background: url(../images/ping02.gif) no-repeat;
    width: 106px;
    height: 22px;
    display: block;
    float: left;
    padding-top: 16px;
    text-align: center
}

.w80 {
    width: 100px;
    height: 25px;
}

.w850 {
    width: 850px;

}

.w760 {
    width: 700px;
    height: 25px;
}

.w760 font {
    font-size: 12px;
    margin-left: 5px
}

.w760None {
    width: 700px;
    padding-bottom: 5px;
}

a.orange {
    color: #ff6600;
    text-decoration: underline;
}

a.orange:hover {
    color: #ff6600;
}

#popup {
    width: 718px;
    height: 423px;
    color: #a0a0a0
}

#popup td input {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    width: 175px;
    padding-left: 2px;
    padding-top: 2px;
    color: #9f9f9f;
    float: left
}

.maginB20 {
    margin-bottom: 20px;
}

.Reglc {
    color: #4f4d4e;
    line-height: 150%;
}

.Reglc a {
    color: #1d41dd;
}

.Reglc input, .Reglc textarea, .Reglc select {
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc; /* background-color:#dcdcdc;*/
    color: #9f9f9f;
}

.Reglc input.none {
    border: 0px;
    background-color: #ffffff;
}

.Reglc textarea {
    font-size: 12px;
    width: 560px;
    height: 68px;
    color: #4f4d4e;
}

.ReglcTitle {
    color: #0098fd;
    font-weight: bold
}

.ReglcTitle0a1684 {
    color: #0a1684;
    font-weight: bold
}

.ReglcBG {
    background: url(../images/Regdian.gif) repeat-x
}

.redeme {
    padding-left: 20px;
    float: left;

    margin-top: 40px;
}

.yuanBg {
    width: 183px;
    height: 183px;
    text-align: center;
    color: #FFFFFF;
    font-size: 60px;
}

.relist {
    float: left;
    width: 206px;
}

.relist span {
    display: block;
}

.relist p {
    padding-top: 10px;
    line-height: 150%;
    padding-left: 10px;
    width: 188px;
}

.relist p span {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    color: #000000;
}

.relist p a {
    color: #0289cb;
}

.refol {

    width: 163px;
    height: 267px;
    float: left;
    margin-left: 29px;
    padding-top: 50px;
    padding-left: 13px;
    padding-right: 13px;

}

.refol h2 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    color: #565656;
}

.refol p {
    margin-bottom: 25px;
    color: #4d4d4d;
    line-height: 180%;
}

.refol p span {
    font-weight: bold;
    color: #000;
}

.processLeft {
    width: 133px;
    float: left;
    text-align: center;
    margin-left: 12px;
    margin-right: 34px;
    display: inline;
}

.processLeft .circle {
    width: 133px;
    height: 87px;
    padding-top: 45px;
    margin-bottom: 13px;
    display: block;
    background: url(images/bg_circle.gif) no-repeat;
    text-align: center;
    vertical-align: middle;
    color: Black;
    font-size: 40px;
}

.processLeft p {
    color: #4b4b4b;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 40px;
}

.processLeft .arrow {
    margin-bottom: 35px;
}

.processRight {
    width: 480px;
    float: left;
}

.processRight-help {
    overflow: hidden;
}

.processRight .box {
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.processRight .box h1 {
    color: #4b4b4b;
    font-weight: bold;
    padding-top: 20px;
    font-size: 14px;
}

.processRight .box h2 {
    font-size: 12px;
    font-weight: normal;
    color: #a0a0a0;
    margin-bottom: 38px;
    margin-top: 5px;
    width: 135px;
}

.processRight .box p {
    line-height: 150%;
}

.processRight .boxline {
    border-bottom: 1px solid #d4d4d4;
}

.myAppcon1 {
    float: left;
    width: 550px;
    padding-left: 60px;
}

.myAppcon1 p, .myAppcon h3 {
    margin-bottom: 14px;
    line-height: 170%;
}

.myAppcon1 h3 span {
    font-size: 14px;
}

.myAppcon1 p span {
    color: #50bbf2;
}

.myAppcon1 h3 span.sa {
    color: #50bbf2;
}

.myAppcon1 p img {
    margin-left: 10px;
}

.myAppcon1 h4 {
    font-size: 14px;
    padding-top: 16px;
    margin-bottom: 14px;
    position: relative
}

.myAppcon1 h4 span {
    position: absolute;
    width: 100%;
    display: block;
    text-align: right;
    font-size: 12px;

}

.w120 {
    width: 120px;
}

#navtitle .navNew {
    padding-left: 28px;
    color: #FFFFFF;
    font-size: 14px;
    padding-top: 18px;
}

#navtitle .navNew a {
    margin-right: 26px;
    display: block;
    float: left;
    color: #FFFFFF
}

#navtitle .navNew span {
    margin-right: 26px;
    display: block;
    float: left;
    color: #50bbf2;
}

.newh135 {
    height: 150px;
    padding-top: 1px;
}

#salelist {
    font-size: 14px;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    margin-right: 36px;
    margin-left: 30px;
}

#salelist ul {
    padding-left: 40px;
    color: #50bbf2;
    line-height: 18px;
    padding-top: 15px;
}

/* ������css*/
.jqifade {
    position: absolute;
    background-color: #aaaaaa;
}

div.jqi {
    width: 400px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eeeeee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 7px;
}

div.jqi .jqicontainer {
    font-weight: bold;
}

div.jqi .jqiclose {
    position: absolute;
    top: 4px;
    right: -2px;
    width: 18px;
    cursor: default;
    color: #bbbbbb;
    font-weight: bold;
}

div.jqi .jqimessage {
    padding: 10px;
    line-height: 20px;
    color: #444444;
}

div.jqi .jqibuttons {
    text-align: right;
    padding: 5px 0 5px 0;
    border: solid 1px #eeeeee;
    background-color: #f4f4f4;
}

div.jqi button {
    padding: 3px 10px;
    margin: 0 10px;
    background-color: #2F6073;
    border: solid 1px #f4f4f4;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

div.jqi button:hover {
    background-color: #728A8C;
}

div.jqi button.jqidefaultbutton {
    background-color: #BF5E26;
}

.jqiwarning .jqi .jqibuttons {
    background-color: #BF5E26;
}